html {
  position: relative;
  min-height: 100%;
}

#root {
	font-family: 'Archivo', sans-serif;
	line-height: 28px;
}

.main_container{
	width: 94%;
	margin: 0 auto 150px;
}

.header_container{
	padding: 20px 0;
	text-align: center;

}

.header_container h2{
	font-size: 34px;
	font-family: 'Ubuntu', sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding: 15px 5px;
	background-color: #005ce6;
	color: #ffffff;
}

